/* #backbox{
    background-color: antiquewhite;
    border-top: 120px;
    border-right: 120px;

} */
body{
    color: rgb(224, 70, 70);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#row1{
    text-align: center;
    font-size: 1.5em;
}
#row2{
    text-align: center;
    font-size: 1.5em;
}
#row3{
    text-align: center;
    font-size: 1.5em;
}
#row4{
    text-align: center;
    font-size: 1.5em;
}
#display{
    /* display: block; */

    width: 180px;
    height: 45px;
    /* text-align: center; */
    border: 4px solid white;
    background-color: rgb(89, 110, 128);
    
    border-radius: 10px;
    margin-left: auto; 
    margin-right: auto;
    /* margin-right: -145px;  */
    font-size: 2em;
    

}
#container{
    border:4px rgba(39, 129, 219, 0.855) solid;
    border-radius: 10px;
    width: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    border-style:inset;
    background-color: rgb(37, 8, 59);


}
.buttons{
    background-color: rgb(10, 177, 177);
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    /* margin: 5px; */
    border-radius: 6.2px;
    margin-bottom: 6px;
    transition: background-color 0.25s;
    
}
.buttons:hover{
    background-color: rgb(73, 133, 162);
}